<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/main.css}" rel="stylesheet"></link>
<link th:href="@{/jquery-easyui-1.5.3/themes/material/easyui.css}"
    rel="stylesheet"></link>
<link th:href="@{/jquery-easyui-1.5.3/themes/icon.css}" rel="stylesheet"></link>

<script th:src="@{/jquery-easyui-1.5.3/jquery.min.js}"
    type="text/javascript"></script>
<script th:src="@{/jquery-easyui-1.5.3/jquery.easyui.min.js}"
    type="text/javascript"></script>
<script th:src="@{/jquery-easyui-1.5.3/locale/easyui-lang-zh_CN.js}"
    type="text/javascript"></script>
<script th:src="@{/js/main.js}" type="text/javascript"></script>
</head>
<body>
    <div style="padding: 6px;">
        <h2>什么是身份委托？</h2>
        <p style="font-size:14px;">
            当您因客观原因不能登录网站进行一些操作时，想把工作委托给您的同事，但又不想告诉他（她）您的帐号密码时，就可以使用到<strong>身份委托</strong>功能。
            您只需指定委托人，及委托日期（可以是一个临时性委托，也可以是永久性委托），他（她）就可以以您的身份在系统中进行操作。
        </p>
    </div>
    <input type="hidden" id="userId" th:value="${currentUser.userId}" />  
    <div class="easyui-panel" data-options="border:false" style=" height: 310px; padding: 4px;">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'west',border:false" style="width: 49%">
            <div class="easyui-panel" style="height:240px;padding:2px;" title="我的代理" footer="#agentPanelFooter">
                <!-- 数据表格 -->
                <table id="agentDatagrid" class="easyui-datagrid" toolbar="#agentDatagridToolbar">
                    <thead>
                        <tr>
                            <th field="toUser" formatter="userFormatter" align="center" 
                                style="width: 160px" editor="{type:'combobox',options:{valueField:'userId',textField:'nickName',method:'get',url:'/users/api/json',required:true}}" >代理人</th>
                            <th field="startDate" style="width: 100px"
                                formatter="dateFormatter" align="center"
                                editor="{type:'datebox',options:{required:true}}" >生效日期</th>
                            <th field="endDate" style="width: 100px"
                                formatter="dateFormatter" align="center" editor="datebox">终止日期</th>
                            <th field="action" formatter="revokeBtnFormatter" align="center" style="width: 60px;">取消代理</th>
                        </tr>
                    </thead>
                </table>
                <!-- 数据表格工具栏 -->
                <div id="agentDatagridToolbar" class="datagrid-toolbar">
                    <a href="javascript:void(0)" class="easyui-linkbutton"
                        iconCls="icon-add" plain="true" onclick="newAgent()">新增代理</a>
                </div>
            </div>
            <!-- 面板脚注 -->
            <div id="agentPanelFooter" class="panel-footer" style="padding: 4px;" >
                您已将身份委托给以上用户，他们可以在<strong class="text-danger">有效的委托时间范围以您的身份在系统中执行操作</strong>。使用右侧的 <code>取消代理</code>按钮取消代理！
            </div>
        </div>
        
        <div data-options="region:'east',border:false" style="width: 49%;">
            <div class="easyui-panel" style="height:240px;padding:2px;" title="我的委托" footer="#delegatePanelFooter"> 
                <!-- 数据表格 -->
                <table id="delegateDatagrid" class="easyui-datagrid"
                    toolbar="#delegateDatagridToolbar" >
                    <thead>
                        <tr>
                            <th field="fromUser" formatter="userFormatter" align="center" style="width: 160px">委托人</th>
                            <th field="startDate" style="width: 100px;"
                                formatter="dateFormatter" align="center">生效日期</th>
                            <th field="endDate" style="width: 100px"
                                formatter="dateFormatter" align="center">终止日期</th>
                            <th field="action" formatter="switchBtnFormatter" align="center" style="width: 60px;">切换身份</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- 面板脚注 -->
            <div id="delegatePanelFooter" class="panel-footer" style="padding: 4px;">
                您已获得以上用户的委托，可以使用右侧的 <code>切换身份</code>按钮切换到委托人身份在系统中执行操作！
                <span style="color:red">“切换身份”动作会关闭所有已打开的页面，请确保在执行该操作之前所有数据都已保存！！！</span>
            </div>
        </div>
    </div>
    </div>

        <div class="btn-toolbar pull-right hidden-print"
            th:if="${previousUser}">
            <div class="btn-group btn-group-xs">
                <a class="btn btn-default" href="#" onclick="switchBack()">返回<strong
                    th:utext="${previousUser.nickName}" class="text-primary"
                    style="padding-left: 4px; padding-right: 4px;"></strong>的身份
                </a>
            </div>
        </div>
        
    <script type="text/javascript">
    $(document).ready(function() {
        $("#delegateDatagrid").datagrid({
            method : "get",
            url : "/users/api/" + $("#userId").val() + "/delegates",
            rownumbers : true,
            striped : true,
            emptyMsg: "无委托记录！"
        });
        
        $("#agentDatagrid").datagrid({
            method : "get",
            url : "/users/api/" + $("#userId").val() + "/agents",
            rownumbers : true,
            striped : true,
            emptyMsg: "无代理记录！",
            onBeforeEdit : function(index, row) {
                row.editing = true;
                $(this).datagrid("refreshRow", index);
            },
            onEndEdit : function(index, row, changes) {
                var editingRow = $("#agentDatagrid").datagrid("getSelected");
                var ed = $("#agentDatagrid").datagrid("getEditor", {
                        index : index,
                        field : "toUser"
                    });
                    if (ed != null) {
                        console.log("user id: "+ $(ed.target).combobox("getValue"));
                        console.log("nick name: "+ $(ed.target).combobox("getText"));
                        userId = $(ed.target).combobox("getValue");
                        nickName = $(ed.target).combobox("getText");
                        $.ajax({
                            url : "/users/api/grant/" + userId,
                            type : "POST",
                            data: {"startDate": editingRow.startDate,"endDate":editingRow.endDate},
                            success : function(data, textStatus) {
                                console.log(data);
                                console.log(textStatus);
                                if (data.state == 0) {
                                	$("#agentDatagrid").datagrid("reload");
                                	$.messager.alert("信息", data.message, "info");
                                } else {
                                    $.messager.alert("错误", data.message, "error");
                                    $("#agentDatagrid").datagrid("deleteRow", index);
                                }
                            },
                            error : function(XMLHttpRequest, textStatus, errorThrown) {
                                console.log("status: " + textStatus);
                                console.log("error: " + errorThrown);
                            }
                        });
                    }
            },
            onAfterEdit : function(index, row, changes) {
                row.editing = false;
                $(this).datagrid("refreshRow", index);
            },
            onCancelEdit : function(index, row) {
                row.editing = false;
                $(this).datagrid("refreshRow", index);
            }
        });
    });
    
    function userFormatter(val, row) {
        if (val) {
            return val.nickName + "【" + val.userName + "】";
        }
    }
    
    function revokeBtnFormatter(value, row, index) {
    	if (row.editing) {
            var saveBtn = '<a href="javascript:void(0)" class="easyui-linkbutton" onclick="saveRow(this)">保存</a> ';
            var cancelBtn = '<a href="javascript:void(0)" class="easyui-linkbutton" onclick="cancelRow(this)">取消</a>';
            return saveBtn + cancelBtn;
        } else {
            if (row.toUser) {
        	    return '<a href="javascript:void(0)" class="easyui-linkbutton" onclick="revoke(' + row.toUser.userId +')">取消代理</a> ';
            }
            return "";
            
        }
    }
    
    function switchBtnFormatter(value, row, index) {
        return '<a href="javascript:void(0)" class="easyui-linkbutton" onclick="switchUser(' + row.fromUser.userId +')">切换身份</a>';
    }
    
    //切换用户身份
    function switchUser(userId) {
    	$.ajax({
            url : "/users/api/switch-to/" + userId,
            type : "GET",
            success : function(data, textStatus) {
                console.log(data);
                console.log(textStatus);
                if (data.state == 0) {
                	$.messager.confirm("信息", data.message + " 是否立即刷新页面？", function(r) {
                		if (r) {
                			window.location.reload();
                		}
                	});
                } else {
                    $.messager.alert("错误", data.message, "error");
                }
            },
            error : function(XMLHttpRequest, textStatus, errorThrown) {
                console.log("status: " + textStatus);
                console.log("error: " + errorThrown);
            }
        });
    }
    
    //新增数据行
    function newAgent() {
        var myDate = new Date();
        $("#agentDatagrid").datagrid("appendRow", {
            startDate : myDate.toLocaleDateString()
        });
        var editIndex = $("#agentDatagrid").datagrid("getRows").length - 1;
        $("#agentDatagrid").datagrid("selectRow", editIndex);
        $("#agentDatagrid").datagrid("beginEdit", editIndex);
    }
    
    //保存新代理
    function saveRow(target) {
        $("#agentDatagrid").datagrid("endEdit", getRowIndex(target));
    }

    // 取消新增
    function cancelRow(target) {
        var editIndex = getRowIndex(target);
        $("#agentDatagrid").datagrid("cancelEdit", editIndex);
        $("#agentDatagrid").datagrid("deleteRow", editIndex);
    }
    
    //收回代理资格
    function revoke(userId) {
    	$.messager.confirm("确认", "取消代理资格？", function(r) {
            if (r) {
            	$.ajax({
                    url : "/users/api/revoke/" + userId,
                    type : "POST",
                    success : function(data, textStatus) {
                        console.log(data);
                        console.log(textStatus);
                        if (data.state == 0) {
                            $("#agentDatagrid").datagrid("reload");
                            $.messager.alert("信息", data.message, "info");
                        } else {
                            $.messager.alert("错误", data.message, "error");
                            $("#agentDatagrid").datagrid("deleteRow", index);
                        }
                    },
                    error : function(XMLHttpRequest, textStatus, errorThrown) {
                        console.log("status: " + textStatus);
                        console.log("error: " + errorThrown);
                    }
                });
            }
        })
    }
    
    </script>
</body>
</html>
