<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/login">
<head>
<title>请登录到您的帐户</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<div layout:fragment="content">
		<form class="form-signin" method="post" action=""
			th:fragment="signupForm">
			<h2 class="form-signin-heading">Please sign in</h2>
			<label for="username" class="sr-only">用户名称</label> <input type="text"
				class="form-control" id="username" name="username"
				placeholder="用户名称" autofocus="auctofocus" required="required" /> <label for="password" class="sr-only">登录密码</label>
			<input type="password" class="form-control" id="password"
				name="password" placeholder="登录密码" required="required" />
			<div class="forgot text-right">
				<label> <a href="#">忘记密码</a>
				</label>
			</div>
			<button type="submit" class="btn btn-lg btn-block btn-success">登录</button>
			<p class="message bg-warning text-danger text-center" th:text="${msg}"></p>
		</form>
	</div>
</body>
</html>