<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/main.css}" rel="stylesheet"></link>
<link th:href="@{/jquery-easyui-1.5.3/themes/material/easyui.css}"
	rel="stylesheet"></link>
<link th:href="@{/jquery-easyui-1.5.3/themes/icon.css}" rel="stylesheet"></link>

<script th:src="@{/jquery-easyui-1.5.3/jquery.min.js}"
	type="text/javascript"></script>
<script th:src="@{/jquery-easyui-1.5.3/jquery.easyui.min.js}"
	type="text/javascript"></script>
<script th:src="@{/jquery-easyui-1.5.3/locale/easyui-lang-zh_CN.js}"
	type="text/javascript"></script>
<script th:src="@{/js/main.js}" type="text/javascript"></script>
</head>
<body>
	<!-- 数据表格 -->
	<table id="permissionTreegrid" class="easyui-treegrid"
		toolbar="#permissionTreegridToolbar">
		<thead>
			<tr>
				<th data-options="field:'permissionText'" width="160">显示文本</th>
				<th data-options="field:'permissionKind'" style="width: 80px"
					align="center">权限类型</th>
				<th data-options="field:'permissionName'" style="width: 150px">权限代码</th>
				<th data-options="field:'weight'" style="width: 50px" align="right">显示顺序</th>
				<th data-options="field:'permissionUrl'" width="180">访问链接</th>
				<th data-options="field:'available'" width="40" align="center"
					formatter="availableFormatter">启用</th>
				<th data-options="field:'createdTime'" width="140"
					formatter="dateTimeFormatter">创建时间</th>
				<th data-options="field:'updateTime'" width="140"
					formatter="dateTimeFormatter">更新时间</th>
				<!-- <th data-options="field:'ck',checkbox:true"></th> -->
			</tr>
		</thead>
	</table>

	<!-- 数据表格工具栏 -->
	<div id="permissionTreegridToolbar" class="datagrid-toolbar">
		<shiro:hasPermission name="authPermission:new">
			<a href="javascript:void(0)" class="easyui-linkbutton"
				iconCls="icon-add" plain="true" onclick="newPermission()">新增</a>
		</shiro:hasPermission>
		<shiro:hasPermission name="authPermission:edit">
			<a href="javascript:void(0)" class="easyui-linkbutton"
				iconCls="icon-edit" plain="true" onclick="editPermission()">修改</a>
		</shiro:hasPermission>
		<shiro:hasPermission name="authPermission:delete">
			<a href="javascript:void(0)" class="easyui-linkbutton"
				iconCls="icon-remove" plain="true" onclick="deletePermission()">删除</a>
		</shiro:hasPermission>
		<input id="permissionName" prompt="请输入权限名称" class="easyui-searchbox" />
	</div>

	<!-- 新增、编辑窗体 -->
	<div id="permissionEditDlg" class="easyui-dialog"
		style="width: 400px; height: auto" closed="true"
		buttons="#permissionEditDlgButtons" data-options="modal:true">
		<form id="permissionEditForm" method="post">
			<div>
				<input name="permissionName" class="easyui-textbox" required="true"
					style="width: 100%; height: 34px;" validType="length[2,64]"
					label="权限名称" lableWidth="60px" />
			</div>
			<div>
				<input name="permissionText" class="easyui-textbox" required="true"
					style="width: 100%; height: 34px;" validType="length[4,64]"
					label="显示文本" lableWidth="60px" />
			</div>
			<div>
				<select class="easyui-combobox" name="permissionKind" label="权限类型"
					lableWidth="60px" style="width: 100%; height: 34px;"
					required="true">
					<option value="MENU">MENU</option>
					<option value="FUNCTION">FUNCTION</option>
				</select>
			</div>
			<div>
				<select class="easyui-combotree" id="parentId" name="parentId" label="隶属菜单"
					lableWidth="60px" style="width: 100%; height: 34px;"
					data-options="url:'/permissions/rest/tree', method:'get'">
					<option value="menu">menu</option>
				</select>
			</div>
			<div>
				<input name="permissionUrl" class="easyui-textbox"
					style="width: 100%; height: 34px;" label="访问链接" lableWidth="60px" />
			</div>
			<div>
				<input name="weight" class="easyui-numberspinner"
					style="width: 100%; height: 34px;" required="true" label="显示顺序"
					lableWidth="60px" />
			</div>
			<div style="text-align: right">
				<input class="easyui-switchbutton" name="available"
					data-options="onText:'启用',offText:'禁用'" checked="true" />
			</div>
		</form>
	</div>
	<!-- 新增、编辑窗体按钮 -->
	<div id="permissionEditDlgButtons">
		<a href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-ok" onclick="savePermission()">保存且关闭</a> <a
			href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-cancel"
			onclick="javascript:$('#permissionEditDlg').dialog('close')">取消</a>
	</div>

	<script th:src="@{/js/permission.js}" type="text/javascript"></script>
</body>
</html>
