<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>销售订单列表</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="empty text-center" style="margin-top: 6rem;">
					<label class="text-warning">哇喔~~, 网络服务使小性子了，暂时无法提供服务。请稍候再试！
					</label>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
