<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>系统用户详情</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="table-responsive col-lg-12 col-md-12 col-sm-12 xol-xs-12">
				<div class="btn-toolbar pull-right hidden-print">
					<div class="btn-group btn-group-xs">
						<shiro:hasPermission name="authUser:edit">
							<a class="btn btn-default"
								th:href="@{/users/{id}/edit(id=${user.userId})}">编辑</a>
						</shiro:hasPermission>
						<shiro:hasPermission name="authUser:change-password">
							<a class="btn btn-warning"
								th:href="@{/users/{id}/change-psd(id=${user.userId})}">修改密码</a>
						</shiro:hasPermission>
						<shiro:hasPermission name="authUser:delete">
							<a class="btn btn-danger" title="删除该用户"
								th:href="@{/users/{id}/del(id=${user.userId})}">删除</a>
						</shiro:hasPermission>
						<a class="btn btn-default" th:href="@{/users}">返回列表</a>
					</div>
				</div>
				<div>
					<table class="table table-responsive table-striped table-condensed">
						<thead>
							<tr>
								<th>#</th>
								<th>登录名称</th>
								<th>显示昵称</th>
								<th>电子邮件</th>
								<th>状态</th>
								<th>加密盐</th>
								<th>用户有效</th>
								<th>创建日期</th>
							</tr>
						</thead>
						<tbody>
							<tr data-th-object="${user}">
								<td data-th-text="*{userId}"></td>
								<td data-th-text="*{userName}"></td>
								<td data-th-text="*{nickName}"></td>
								<td data-th-text="*{email}"></td>
								<td data-th-text="*{state}"></td>
								<td data-th-text="*{salt}"></td>
								<td data-th-text="*{available}"></td>
								<td data-th-text="*{#dates.format(createdTime, 'yyyy-MM-dd')}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="panel panel-success">
			<div class="panel-heading">
				已分配角色
				<div class="btn-toolbar pull-right hidden-print">
					<div class="btn-group btn-group-xs">
						<button class="btn btn-default" data-toggle="modal"
							data-target="#modal_dialog">添加／删除角色</button>
					</div>
				</div>
			</div>
			<div th:if="${not #lists.isEmpty(myRoles)}"
				th:replace="auth/role/index::showRoles(${myRoles}, false)"></div>
			<p class="text-center text-warning"
				style="padding-top: 1rem; padding-bottom: 2rem;"
				th:if="${#lists.isEmpty(myRoles)}">
				<small>哇喔〜〜〜，该用户尚未分配任何角色，请点击右上角<code>添加／删除角色</code>按钮为其添加角色。
				</small>
			</p>
		</div>

		<div class="modal fade" role="dialog" tabIndex="-1" id="modal_dialog"
			aria-labelledby="modal_label" aria-hidden="true"
			data-backdrop="static">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="modal_label">选择系统角色</h4>
					</div>
					<div class="modal-body" id="modal_content_div"
						style="height: 360px; overflow-y: scroll">
						<ul class="list-group">
							<li class="list-group-item" th:each="role: ${roles}"
								th:object="${role}"><label><input type="checkbox"
									th:value="*{roleId}" 
									th:checked="${#lists.contains(myRoles, role)}" />&nbsp;&nbsp;<span
									th:utext="*{roleName}"></span></label></li>
						</ul>
					</div>
					<div id="" class="modal-footer">
						<button type="button" class="btn btn-default btn-sm"
							data-dismiss="modal" title="关闭窗体，不保存操作">关闭</button>
						<button type="button" class="btn btn-success btn-sm"
							id="save_button" title="保存当前操作并关闭窗体">保存</button>
					</div>
				</div>
			</div>
		</div>
		<input type="hidden" id="save-data-url" th:value="@{/users/{id}/roles(id=${user.userId})}" />
		
        <script type="text/javascript">
            $("#modal_dialog").on("hidden.bs.modal", function(e) {
                var roles = new Array();
                $(".list-group li input:checkbox").each(function() {
                	if ($(this).prop("checked") == true) {
                		roles.push($(this).val());
                	}
                });
                alert(roles.join(","));
                $.ajax({
                    type : 'post',
                    url : $("#save-data-url").val(),
                    dataType : 'json',
                    data:[{"roles":roles.join(",")}],
                    success : function(data) {
                        //
                    }
                });
            });
        </script>
	</div>
</body>
</html>
