<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>系统用户详情</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="table-responsive col-lg-12 col-md-12 col-sm-12 xol-xs-12">
				<div class="btn-toolbar pull-right hidden-print">
					<div class="btn-group btn-group-sm">
						<a class="btn btn-success"
							th:href="@{'/users/' + ${user.userId} + '/edit'}">编辑</a> <a
							class="btn btn-warning"
							th:href="@{'/users/' + ${user.userId} + '/change-psd'}">修改密码</a>
						<a class="btn btn-danger" title="删除该用户"
							th:href="@{'/users/' + ${user.userId} + '/del'}">删除</a> <a
							class="btn btn-success" th:href="@{/users}">返回列表</a>
					</div>
				</div>
				<div>
					<table class="table table-responsive table-striped table-condensed">
						<thead>
							<tr>
								<th>#</th>
								<th>登录名称</th>
								<th>显示昵称</th>
								<th>电子邮件</th>
								<th>状态</th>
								<th>加密盐</th>
								<th>创建日期</th>
							</tr>
						</thead>
						<tbody>
							<tr data-th-object="${user}">
								<td data-th-text="*{userId}"></td>
								<td data-th-text="*{userName}"></td>
								<td data-th-text="*{nickName}"></td>
								<td data-th-text="*{email}"></td>
								<td data-th-text="*{state}"></td>
								<td data-th-text="*{salt}"></td>
								<td data-th-text="*{#dates.format(createdTime, 'yyyy-MM-dd')}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="panel panel-success">
			<div class="panel-heading">角色及权限</div>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>已分配角色</th>
						<th>已分配权限</th>
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="role: ${user.roles}" data-th-object="${role}">
						<td data-th-text="*{roleName}"></td>
						<td>
							<table class="table table-striped table-hover table-condensed">
								<tr data-th-each="permission: *{permissions}"
									data-th-object="${permission}">
									<td data-th-text="*{permissionName}"></td>
								</tr>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>
