<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/main.css}" rel="stylesheet"></link>
<link th:href="@{/jquery-easyui-1.5.3/themes/material/easyui.css}"
	rel="stylesheet"></link>
<link th:href="@{/jquery-easyui-1.5.3/themes/icon.css}" rel="stylesheet"></link>

<script th:src="@{/jquery-easyui-1.5.3/jquery.min.js}"
	type="text/javascript"></script>
<script th:src="@{/jquery-easyui-1.5.3/easyloader.js}"
	type="text/javascript"></script>
<script th:src="@{/jquery-easyui-1.5.3/jquery.easyui.min.js}"
	type="text/javascript"></script>
<script th:src="@{/jquery-easyui-1.5.3/locale/easyui-lang-zh_CN.js}"
	type="text/javascript"></script>
<script th:src="@{/js/main.js}" type="text/javascript"></script>
</head>
<body>
	<table id="user_datagrid" class="easyui-datagrid">
		<thead>
			<tr>
				<th data-options="field:'ck',checkbox:true"></th>
				<th field="userName" style="width: 160px">登录名称</th>
				<th field="nickName" style="width: 260px">显示昵称</th>
				<th field="email" style="width: 200px">电子邮件</th>
				<th field="state" style="width: 80px" align="center">状态</th>
				<th field="createdTime" style="width: 140px"
					formatter="DateTimeFormatter">创建时间</th>
				<th field="updateTime" style="width: 140px"
					formatter="DateTimeFormatter">更新时间</th>
			</tr>
		</thead>
	</table>

	<div id="tb" class="datagrid-toolbar">
		<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true"
			onclick="newUser()">新增用户</a>
		<a href="#" class="easyui-linkbutton"
			iconCls="icon-edit" plain="true" onclick="editUser()">编辑用户</a>
		<a href="#" class="easyui-linkbutton" plain="true"
            onclick="javascript:alert('修改密码');">修改密码</a>
        <a href="#" class="easyui-linkbutton" plain="true"
            onclick="javascript:alert('关联角色');">关联角色</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true"
			onclick="deleteUser()">删除用户</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true"
            onclick="javascript:alert('批量删除');">批量删除</a>
            
	</div>

	<div id="dlg" class="easyui-dialog" style="width: 400px" closed="true"
		buttons="#dlg-buttons" data-options="modal:true">
		<form id="fm" method="post" novalidate="novalidate"
			style="margin: 0; padding: 20px 30px; width: 100%">
			<div class="form-line">
				<input name="userName" class="easyui-textbox form-control" required="true"
					label="登录名称:" />
			</div>
			<div class="form-line">
				<input name="nickName" class="easyui-textbox form-control" required="true"
					label="显示昵称" />
			</div>
			<div class="form-line">
				<input type="email" name="email" class="easyui-textbox form-control"
					required="true" validType="email" label="电子邮件:" />
			</div>
		</form>
	</div>
	<div id="dlg-buttons">
		<a href="javascript:void(0)" class="easyui-linkbutton c6"
			iconCls="icon-ok" onclick="saveUser()" style="width: 90px">Save</a> <a
			href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')"
			style="width: 90px">Cancel</a>
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			$('#user_datagrid').datagrid({
				url : "/rest/users",
				method : "get",
                idField : "userId",
				toolbar : "#tb",
				emptyMsg : "",
				checkOnSelect:false,
		        selectOnCheck:false,
		        singleSelect:true,
		        rownumbers:true,
		        striped:true,
				fit : true,
				pagination:true,
		        pagePosition : "bottom",
		        pageSize:20,
		        pageList: [10,20,30,50,80],
				onDblClickRow : function(index, row) {
					editUser();
				}
			/* rowStyler : function(rowIndex, rowData) {
				if (rowData.state == "LOCKED") {
					return "background-color:#0489B1;color:white;font-weight:bold;";
				}
				else if (rowData.state == "EXPIRED") {
					return "background-color:#D7DF01;color:black;font-weight:bold;";
				}
				else if (rowData.state == "INACTIVE") {
			        return "background-color:#C0C0C0;color:black;font-weight:bold;";
			    }
				else {
					return "";
				}
			} */
			});
		});

		var url;
		function newUser() {
			$('#dlg').dialog('open').dialog('center').dialog('setTitle',
					'创建新用户');
			$('#fm').form('clear');
			url = '/rest/users/save';
		}
		
		function editUser() {
			var row = $('#dg').datagrid('getSelected');
			if (row) {
				$('#dlg').dialog('open').dialog('center').dialog('setTitle',
						'编辑用户信息');
				$('#fm').form('load', row);
				url = '/rest/users/update/' + row.id;
			}
			else {
				$.messager.alert('提示','请选择一个数据行！');
			}
		}

		function saveUser() {
			$('#fm').form('submit', {
				url : url,
				onSubmit : function() {
					return $(this).form('validate');
				},
				success : function(result) {
					var result = eval('(' + result + ')');
					if (result.errorMsg) {
						$.messager.show({
							title : 'Error',
							msg : result.errorMsg
						});
					} else {
						$('#dlg').dialog('close'); // close the dialog
						$('#dg').datagrid('reload'); // reload the user data
					}
				}
			});
		}
		
		function deleteUser() {
			var row = $('#dg').datagrid('getSelected');
			if (row) {
				$.messager.confirm('确认', '确要定删除用户 ' + row.nickName + ' 吗？', function(r) {
					if (r) {
						$.get('/rest/users/delete/' + row.id, function(result) {
							if (result.success) {
								$('#dg').datagrid('reload'); // reload the user data
							} else {
								$.messager.show({ // show error message
									title : 'Error',
									msg : result.errorMsg
								});
							}
						}, 'json');
					}
				});
			}
			else {
				$.messager.alert('提示','请选择一个数据行！');
			}
		}
	</script>
</body>
</html>
