<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/main.css}" rel="stylesheet"></link>
<link th:href="@{/jquery-easyui-1.5.3/themes/material/easyui.css}"
	rel="stylesheet"></link>
<link th:href="@{/jquery-easyui-1.5.3/themes/icon.css}" rel="stylesheet"></link>

<script th:src="@{/jquery-easyui-1.5.3/jquery.min.js}"
	type="text/javascript"></script>
<script th:src="@{/jquery-easyui-1.5.3/easyloader.js}"
	type="text/javascript"></script>
<script th:src="@{/jquery-easyui-1.5.3/jquery.easyui.min.js}"
	type="text/javascript"></script>
<script th:src="@{/jquery-easyui-1.5.3/locale/easyui-lang-zh_CN.js}"
	type="text/javascript"></script>
<script th:src="@{/js/main.js}" type="text/javascript"></script>
</head>
<body>
	<!-- 数据表格 -->
	<table id="user_datagrid" class="easyui-datagrid">
		<thead>
			<tr>
				<th data-options="field:'ck',checkbox:true"></th>
				<th field="userName" style="width: 160px">登录名称</th>
				<th field="nickName" style="width: 260px">显示昵称</th>
				<th field="email" style="width: 200px">电子邮件</th>
				<th field="state" style="width: 80px" align="center">状态</th>
				<th field="createdTime" style="width: 140px"
					formatter="DateTimeFormatter">创建时间</th>
				<th field="updateTime" style="width: 140px"
					formatter="DateTimeFormatter">更新时间</th>
			</tr>
		</thead>
	</table>

    <!-- 数据表格工具栏 -->
	<div id="tb" class="datagrid-toolbar">
		<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true"
			onclick="newUser()">新增用户</a>
		<a href="#" class="easyui-linkbutton"
			iconCls="icon-edit" plain="true" onclick="editUser()">编辑用户</a>
		<a href="#" class="easyui-linkbutton" plain="true"
            onclick="javascript:alert('修改密码');">修改密码</a>
        <a href="#" class="easyui-linkbutton" plain="true"
            onclick="javascript:alert('关联角色');">关联角色</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true"
			onclick="deleteUser()">删除用户</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true"
            onclick="javascript:alert('批量删除');">批量删除</a>
        <input id="userName" placeHolder="请输入登录名称或昵称" class="easyui-textbox" />
	</div>

	<!-- 新增、编辑弹出对话框 -->
	<div id="dlg" class="easyui-dialog" style="width: 400px; height: 300px" closed="true"
		buttons="#dlg-buttons" data-options="modal:true">
		<form id="fm" method="post" novalidate="novalidate" style="margin: 0; padding: 20px 30px; width: 100%">
			<div class="form-line">
				<input name="userName" class="easyui-validatebox form-control" required="true"
					validType="length[4,64]" label="登录名称:" />
			</div>
			<div class="form-line">
				<input name="nickName" class="easyui-validatebox form-control" required="true"
					validType="length[2,64]" label="显示昵称" />
			</div>
			<div class="form-line">
				<input type="email" name="email" class="easyui-validatebox form-control"
					required="true" validType="email" label="电子邮件:" />
			</div>
		</form>
	</div>
	<div id="dlg-buttons">
		<a href="javascript:void(0)" class="easyui-linkbutton c6"
			iconCls="icon-ok" onclick="saveUser()" style="width: 90px">保存且关闭</a> <a
			href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')"
			style="width: 90px">关闭</a>
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#user_datagrid").datagrid({
				url : "/users/rest/list",
				method : "get",
                idField : "userId",
				toolbar : "#tb",
				emptyMsg : "",
				checkOnSelect:false,
		        selectOnCheck:false,
		        singleSelect:true,
		        rownumbers:true,
		        striped:true,
				fit : true,
				pagination:true,
		        pagePosition : "bottom",
		        pageSize:20,
		        pageList: [10,20,30,50,80],
				onDblClickRow : function(index, row) {
					editUser();
				}
			});
			
			$("#userName").textbox({
				buttonText : '查询',
				buttonIcon : 'icon-search',
				onClickButton : function() {
					$("#user_datagrid").datagrid("load",{
		                searchValue: $("#userName").val()
		            });
				}
			});
		});

		var url;
		function newUser() {
			$("#dlg").dialog("open").dialog("center").dialog("setTitle",
					"创建新用户");
			$("#fm").form("clear");
			url = "/users/rest/save";
		}
		
		function editUser() {
			var row = $("#user_datagrid").datagrid("getSelected");
			if (row) {
				$("#dlg").dialog("open").dialog("center").dialog("setTitle",
						"编辑用户信息");
				$("#fm").form("load", row);
				url = "/users/rest/update/" + row.id;
			}
			else {
				$.messager.alert("提示","请选择一个数据行！");
			}
		}

		function saveUser() {
			$("#fm").form("submit", {
				url : url,
				onSubmit : function() {
					return $(this).form("validate");
				},
				success : function(result) {
					var result = eval("(" + result + ")");
					if (result.errorMsg) {
						$.messager.show({
							title : "Error",
							msg : result.errorMsg
						});
					} else {
						$("#dlg").dialog("close"); // close the dialog
						$("#user_datagrid").datagrid("reload"); // reload the user data
					}
				}
			});
		}
		
		function deleteUser() {
			var row = $("#user_datagrid").datagrid("getSelected");
			if (row) {
				$.messager.confirm("确认", "确要定删除用户 " + row.nickName + " 吗？", function(r) {
					if (r) {
						$.get("/users/rest/delete/" + row.id, function(result) {
							if (result.success) {
								$("#user_datagrid").datagrid("reload"); // reload the user data
							} else {
								$.messager.show({ // show error message
									title : "Error",
									msg : result.errorMsg
								});
							}
						}, "json");
					}
				});
			}
			else {
				$.messager.alert("提示","请选择一个数据行！");
			}
		}
        
        function searchUser() {
            
        }
	</script>
</body>
</html>
