<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link th:href="@{/css/main.css}" rel="stylesheet" ></link>
<link th:href="@{/jquery-easyui-1.5.3/themes/material/easyui.css}"
	rel="stylesheet" ></link>
<link th:href="@{/jquery-easyui-1.5.3/themes/icon.css}" rel="stylesheet" ></link>

<script th:src="@{/jquery-easyui-1.5.3/jquery.min.js}"
	type="text/javascript"></script>
<script th:src="@{/jquery-easyui-1.5.3/easyloader.js}"
	type="text/javascript"></script>
<script th:src="@{/jquery-easyui-1.5.3/jquery.easyui.min.js}"
	type="text/javascript"></script>
<script th:src="@{/jquery-easyui-1.5.3/locale/easyui-lang-zh_CN.js}"
	type="text/javascript"></script>
</head>
<!-- <header th:replace="fragments/header::header">header fragment</header> -->
<body>
	<div class="container" style="min-height: 40rem;">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="workspace"
				role="main" layout:fragment="content">content fragment</div>
		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<!-- <p th:text="${session.org.apache.shiro.subject.support.DefaultSubjectContext_PRINCIPALS_SESSION_KEY}"></p> -->
			</div>
		</div>
	</div>
</body>
<footer class="footer hidden-print" role="contentinfo"
	th:fragment="footer">
	<div class="container"
		style="border-top: 1px #C4D5DF solid; padding-top: 1rem; margin-bottom: 1rem;">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
				<p class="text-center">Copyright &#169; 2017 - 2027 JR Soft
					保留所有权利</p>
				<!-- p class="text-center">Designer & Developer: Chris Mao(Zibing)</p -->
			</div>
		</div>
	</div>
</footer>
</html>