<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- <link rel="stylesheet" type="text/css"
	href="https://www.jeasyui.com/easyui/themes/default/easyui.css"></link>
<link rel="stylesheet" type="text/css"
	href="https://www.jeasyui.com/easyui/themes/icon.css"></link>
<link rel="stylesheet" type="text/css"
	href="https://www.jeasyui.com/easyui/themes/color.css"></link>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript"
	src="https://www.jeasyui.com/easyui/jquery.easyui.min.js"></script> -->


<link rel="stylesheet"
	href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous"></link>
<link rel="stylesheet" th:href="@{/css/etao.css}"></link>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script
	src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
</head>
<header th:replace="fragments/header::header">header fragment</header>
<body>
	<div class="container" style="min-height: 40rem;">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="workspace"
				role="main" layout:fragment="content">content fragment</div>
		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<!-- <p th:text="${session.org.apache.shiro.subject.support.DefaultSubjectContext_PRINCIPALS_SESSION_KEY}"></p> -->
			</div>
		</div>
	</div>
</body>
<footer class="footer hidden-print" role="contentinfo"
	th:fragment="footer">
	<div class="container"
		style="border-top: 1px #C4D5DF solid; padding-top: 1rem; margin-bottom: 1rem;">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
				<p class="text-center">Copyright &#169; 2017 - 2027 JR Soft
					保留所有权利</p>
				<!-- p class="text-center">Designer & Developer: Chris Mao(Zibing)</p -->
			</div>
		</div>
	</div>
</footer>
</html>