<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>保存权限信息</title>
</head>
<body>
	<div layout:fragment="content">
		<div class='alert alert-success text-center'>
			<p>
				权限数据成功保存，您可以继续<a th:href="@{/permissions/new}">添加新权限</a>，或是<a
					th:href="@{/permissions}">返回权限列表</a>。
			</p>
		</div>
	</div>
</body>
</html>