<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<header class="hidden-print" th:fragment="header">
	<nav class="navbar navbar-default navbar-fixed-top" role="banner">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#navbar-collapse-header">
					<span class="sr-only">Toggle Navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}"> <img alt="Brand"
					th:src="@{/img/zf2-logo.png}" style="margin-right: 1rem;" />JR
					Soft
				</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse-header"
				role="navigation">
				<ul class="nav navbar-nav navbar-left">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">User Name<b class="caret"></b>
					</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a href="javascript:void(0);"
						class="dropdown-toggle" data-toggle="dropdown">系统操作<b
							class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a class="navbar-link" title="修改登录密码"
								href="#"><span
									class="glyphicon glyphicon-cog"></span>&nbsp;修改密码</a></li>
							<li role="separator" class="divider"></li>
							<li><a class="navbar-link" title="将界面语言设为英文"
								href="#"><span
									class="glyphicon glyphicon-globe"></span>&nbsp;英语</a></li>
							<li><a class="navbar-link" title="将界面语言设为简体中文"
								href="E"><span
									class="glyphicon glyphicon-globe"></span>&nbsp;简体中文</a></li>
							<li role="separator" class="divider"></li>
							<li><a class="navbar-link" title="使用其他帐号登录"
								href="#"><span
									class="glyphicon glyphicon-log-in"></span>&nbsp;切换用户</a></li>
							<li><a class="navbar-link" title="退出系统"
								th:href="@{/logout}"><span
									class="glyphicon glyphicon-log-out"></span>&nbsp;退出系统</a></li>
						</ul></li>
				</ul>
			</div>
		</div>
	</nav>
</header>
</html>