<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="row hidden-print text-right" style="margin-bottom: 2rem;"
		th:fragment="pagination(path, pageInfo)">
		<div class="col-lg-12 col-md-12 col-sm-12 xol-xs-12 pull-right">
			<!-- <em>共 <span th:text="${pageInfo.pages}"></span> 页 <span
				th:text="${pageInfo.total}"></span> 笔数据
			</em> -->
			<ul class="pagination pagination-sm">
				<li th:if="${pageInfo.isFirstPage == false}"><a
					th:href="@{${path}(page=1)}"><span aria-hidden="true">首页</span></a></li>
				<li th:if="${pageInfo.isFirstPage == true}" class="disabled"><a
					href="javascript:void(0);"><span aria-hidden="true">首页</span></a></li>
				<li
					th:each="pageNo : ${#numbers.sequence(pageInfo.firstPage, pageInfo.lastPage)}">
					<a th:href="@{${path}(page=${pageNo})}"><span
						th:text="${pageNo}"></span></a>
				</li>
				<li th:if="${pageInfo.isLastPage == false}"><a
					th:href="@{${path}(page=${pageInfo.pages})}"><span
						aria-hidden="true">末页</span></a></li>
				<li th:if="${pageInfo.isLastPage == true}" class="disabled"><a
					href="javascript:void(0);"><span aria-hidden="true">末页</span></a></li>
			</ul>
		</div>
	</div>
</body>
</html>