<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>员工详情</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="table-responsive col-lg-12 col-md-12 col-sm-12 xol-xs-12">
				<fieldset>
					<legend> 基本信息 </legend>
					<div>
						<ul class="data-list">
							<li><label>员工姓名</label> <span
								th:utext="${employee.employeeName}">employee_name</span></li>
							<li><label>联系电话</label> <span th:text="${employee.phone}">phone</span>
							</li>
							<li><label>传真号码</label> <span th:text="${employee.fax}">fax</span>
							</li>
							<li><label>电子邮件</label> <span th:text="${employee.email}">email</span>
							</li>
							<li><label>Oracle帐号</label> <span
								th:text="${employee.oracleAccount}">oracle_account</span></li>
							<li><label>创建时间</label> <span th:text="${createdTime}">created_time</span>
							</li>
							<li><label>更新时间</label> <span th:text="${upateTime}">update_time</span>
							</li>
						</ul>
					</div>
				</fieldset>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
				<fieldset>
					<legend>我的客户</legend>
					<div th:unless="${#lists.isEmpty(customers)}"
						th:replace="customer/index::showCustomers(${customers})"></div>
					<p class="text-center text-warning"
						style="padding-top: 1rem; padding-bottom: 2rem;"
						th:if="${#lists.isEmpty(customers)}">哇喔~~,
						您的名下没有分配作何客户，快去主管那里认领一些吧。</p>
				</fieldset>
			</div>
		</div>
	</div>
</body>
</html>
