<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/cart.css}" />
<script type="text/javascript" th:src="@{/js/cart.js}"></script>
<title>查看购物车</title>
</head>
<body>
	<div layout:fragment="content">

		<div class="cart-wrap">
			<div class="empty-cart text-center" style="margin-top: 6rem;">
				<label class="text-warning"> 哇喔，您的购物车空空如也！点击<a href=""
					style="padding: 0 2px;">这里</a>挑选您需要的商品.
				</label>
			</div>
		</div>

		<table id="cartTable" class="cart table table-condensed">
			<thead>
				<tr>
					<th class="t-checkbox"><input class="check-all check"
						type="checkbox"></input></th>
					<th class="t-goods text-center">产品型号</th>
					<th class="text-center" style="width: 9rem;">要求交期</th>
					<th class="t-qty text-center">购买数量</th>
					<th class="text-center">价格表</th>
					<th class="text-center">币别</th>
					<th class="t-selling-price text-center">销售单价</th>
					<th class="t-subtotal text-center" style="width: 11rem;">金额小计</th>
					<th class="t-action"></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="9" class="text-danger" style="margin-top: 3rem">
						注意：如果您的购物车中有使用到不同的价格表，那么请在“确认购买选中产品”时，保持您选中的产品都是使用相同的价格表，否则将会导致订单无！法！提！交！
					</td>
				</tr>
			</tfoot>
		</table>

		<div class="row cart-summary">
			<div class="col-md-12 col-lg-12 col-sm-12">
				<div class="pull-right">
					<a type="button" class="btn btn-success" id="btn_checkout" href="#">
						确认购买选中产品 </a> <a type="button" class="btn btn-default" href="#">
						继续挑选产品 </a>
				</div>
				<div style="margin-left: 1rem;" class="pull-right total">
					<label>总金额:<span id="priceTotal"
						class="price-total large-bold-red">0.00</span></label>
				</div>
				<div style="margin-top: 0.7rem;" class="pull-right">
					<label> Hint </label>
				</div>
			</div>
		</div>
	</div>
</body>
</html>