body {
	padding: 0;
	padding-top: 58px;
}

.footer {
	margin-top: 5rem;
	padding-top: 1rem;
	/*background-color: #e8e8e8;*/
}

.emerson {
	width: 124px;
	height: 70px;
	display: block;
	margin: 10px auto;
	background: transparent url(../img/logo_white.jpg) no-repeat center top;
}

.copeland {
	width: 190px;
	height: 60px;
	display: block;
	margin-top: 20px;
	background: transparent url(../img/copeland.JPG) no-repeat center top;
}

/*************************************************************************************************/
.cart {
	margin-top: 3rem;
	min-height: 100px;
	padding-top: 10px;
	background: url(../img/Car.png) no-repeat left;
	font-size: 14px;
}

/*************************************************************************************************/
.favorites-item {
	float: left;
	width: 240px;
	height: 380px;
	margin: 2px 10px 3px 2px;
}

.favorites-item .picture {
	width: 230px;
	height: 190px;
	margin: 4px;
	border: 1px solid gray;
}

.favorites-item .picture .tip {
	width: 100%;
	height: 22px;
	padding: auto;
	margin-top: 90px;
	text-align: center;
	color: gray;
}

.favorites-item .picture img {
	width: 100%;
	height: 100%;
}
/*************************************************************************************************/
.loader {
	padding-left: 22px;
	margin: 10px auto;
	font-weight: bold;
	text-align: center;
	line-height: 21px;
	background: url(../img/spinner.gif) no-repeat 39% 2px;
	clear: both;
	display: block;
}

.loader-smaller {
	width: 80px;
	padding-left: 20px;
	padding-top: 4px;
	font-weight: bold;
	text-align: center;
	background: url(../img/spinner.gif) no-repeat 39% 2px;
}

.large-bold-red {
	color: #FF5500;
	font-size: 26px;
	font-weight: bold;
}

.small-bold-red {
	color: #FF5500;
	font: bold 18px tahoma;
}

.smaller-bold-red {
	color: #FF5500;
	font: bold 12px tahoma;
}

.highlight {
	background-color: #FFFF99
}

.number {
	font-size: 12px;
	text-align: right;
	padding-right: 4px;
}

.require-mark {
	color: red;
	padding-top: 2px;
	padding-left: 4px;
	font-weight: normal;
	font-size: 12px;
}

.empty-content {
	font-size: 12px;
	line-height: 21px;
	padding-top: 3px;
	padding-left: 28px;
	background: url(../img/tip.gif) no-repeat 6px 0px;
}

.checked-box {
	padding-left: 21px;
	padding-bottom: 2px;
	background: url(../img/checked.png) no-repeat top left;
	cursor: default;
	line-height: 21px;
	height: 21px;
}

.unchecked-box {
	padding-left: 21px;
	padding-bottom: 2px;
	background: url(../img/unchecked.png) no-repeat top left;
	cursor: default;
}

.checked {
	padding-left: 18px;
	padding-top: 1px;
	padding-bottom: 2px;
	background: url(../img/tick.png) no-repeat top left;
	cursor: default;
}

.speaker {
	padding-left: 18px;
	padding-top: 1px;
	padding-bottom: 2px;
	background: url(../img/speaker.gif) no-repeat top left;
	cursor: default;
}

.double-under-line {
	text-decoration: underline;
	border-bottom: 1px solid;
	padding: 1px;
	padding-top: 0;
}

/*.two-dimension-code {width:110px;height:110px;padding:0;margin:0;background: transparent url(https://chart.googleapis.com/chart?cht=qr&chs=110x110&choe=UTF-8&chld=H|0&chl=http://supplier.copeland-corp.com.cn/apps/eTao/);} */
.two-dimension-code {
	width: 110px;
	height: 110px;
	padding: 0;
	margin: auto;
	margin-top: 10px;
	background: transparent url(../img/website.png) no-repeat;
}

/*************************************************************************************************/
table {
	font-size: 12px;
	cursor: default;
}
/*table thead, table th {color:white;line-height:19px;padding-left:2px;background:#428bca;text-align:center;}
tr td.label {color:white;font-weight:bold;font-size:12px;background:#6c9fc6;cursor:default;}*/
table thead, table th {
	line-height: 19px;
	padding-left: 2px;
	text-align: left;
}

tr td.label {
	font-weight: bold;
	font-size: 12px;
	cursor: default;
}

table .date-column {
	width: 75x;
}

table .datetime-column {
	width: 140px;
}

table .valid-column {
	width: 40px;
}

table .op-column a {
	text-decoration: none;
}

table .op-column a:hover {
	text-decoration: none;
}

/*************************************************************************************************/
.data-list {
	margin: auto;
	list-style: none;
	line-height: 10px;
	padding-left: 0;
	font-size: 12px;
}

.data-list li {
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 10pt;
	line-height: 21px;
}

.data-list li label {
	width: 100px;
}

/*************************************************************************************************/

/* Sales Terms */
.terms {
	line-height: 24px;
	font-size: 12px;
	padding: 8px 20px;
	border: 2px solid #C4D5DF;
}

.terms .title {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	display: block;
	line-height: 50px;
	text-decoration: underline;
	padding-bottom: 2px;
	clear: both;
}

.terms .subtitle {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	display: block;
	line-height: 30px;
	clear: both;
}

.terms p {
	text-indent: 24px;
}

.terms ol {
	margin: 0;
	padding-left: 18px;
}

.terms ol li p {
	margin: 0;
}

.terms ol li label {
	font-weight: bold;
	text-decoration: underline;
	margin-right: 6px;
}

/*************************************************************************************************/
.page-gone {
	border: 1px solid red;
	width: 600px;
	height: 292px;
	clear: both;
	display: block;
	background: transparent url(../img/404.jpg) no-repeat;
}
