<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<meta charset="UTF-8" />
<title>App - 首页</title>
</head>
<body>
	<div layout:fragment="content">
		<p>Welcome to JR Soft</p>

		<!-- 已认证通过的用户。不包含已记住的用户，这是与user标签的区别所在。 -->
		<div shiro:authenticated="true">
			<!-- 输出当前用户信息，通常为登录帐号信息。 -->
			<p>
				Hello,
				<shiro:principal property="nickName" />
				, how are you today?
			</p>
		</div>

		<!-- <p th:text="${@authRoleServiceImpl.findAll()}"></p> -->
		<table>
			<tr>
				<td>context中的attribute</td>
				<!-- 检索ServletContext的属性'myContextAttribute' -->
				<td th:text="${application.myContextAttribute}">42</td>
			</tr>
			<tr>
				<td>attributes数量：</td>
				<!-- 返回attributes的数量 -->
				<td th:text="${application.size()}">42</td>
			</tr>
			<tr th:each="attr : ${application.keySet()}">
				<td th:text="${attr}">javax.servlet.context.tempdir</td>
				<td th:text="${application.get(attr)}">/tmp</td>
			</tr>
		</table>
	</div>
</body>
</html>
