<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<meta charset="UTF-8" />
<title>App - 首页</title>
</head>
<body>
	<div layout:fragment="content">


		<div class="row">
			<div class="col-lg-8 col-md-8">
				<div class="jumbotron">
					<h1 class="text-primary" shiro:authenticated="true">
						Hello,
						<shiro:principal property="nickName" />
					</h1>
					<p>how are you today?</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4">
				<div th:replace="auth/delegate/index::showClients(${clients})"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">系统设置 &amp; 管理</h3>
					</div>
					<div class="panel-body">
						<p>管理员通过这个入口可以管理网站用户帐号，同时还可以为客服人员、销售人员分配客户，使其可以透过这个网站查看客户的销售订单。有新的客户、亦或是销售加入，请联系管理员为您分配登录帐号。</p>
						<p>
							<a class="btn btn-success pull-right" href="#" target="_blank">
								<span class="glyphicon glyphicon-wrench"></span>&nbsp;管理员请进
								&raquo;
							</a>
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">订单管理</h3>
					</div>
					<div class="panel-body">
						<p>
							无论您是我们尊敬的客户、帅气的销售，亦或是我们美丽的客服同事，都可以从这个入口查询到相应的销售订单。如果订单数据有任何疑问，可以发送邮件到<a
								href="">艾默生苏州</a>，我们会以最快的速度通过电话或是邮件联系到您。
						</p>
						<p>
							<a class="btn btn-success pull-right" href="#" target="_blank">
								<span class="glyphicon glyphicon-search"></span>&nbsp;订单查询
								&raquo;
							</a>
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">满意度调查</h3>
					</div>
					<div class="panel-body">
						<p>问卷还在路上，请耐心等待......</p>
						<p>
							<a class="btn btn-success pull-right" disabled="disabled"
								href="#" target="_blank"> <span
								class="glyphicon glyphicon-tasks"></span>&nbsp;暂未开放 &raquo;
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- <table>
			<tr>
				<td>context中的attribute</td>
				检索ServletContext的属性'myContextAttribute'
				<td th:text="${application.myContextAttribute}">42</td>
			</tr>
			<tr>
				<td>attributes数量：</td>
				返回attributes的数量
				<td th:text="${application.size()}">42</td>
			</tr>
			<tr th:each="attr : ${application.keySet()}">
				<td th:text="${attr}">javax.servlet.context.tempdir</td>
				<td th:text="${application.get(attr)}">/tmp</td>
			</tr>
		</table> -->
	</div>
</body>
</html>
