<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<meta charset="UTF-8" />
<title>App - 首页</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="jumbotron">
			<h1 class="text-primary" shiro:authenticated="true">
				Hello,
				<shiro:principal property="nickName" />
			</h1>
			<p>how are you today?</p>
		</div>

		<!-- <p th:text="${@authRoleServiceImpl.findAll()}"></p> -->
		<table>
			<tr>
				<td>context中的attribute</td>
				<!-- 检索ServletContext的属性'myContextAttribute' -->
				<td th:text="${application.myContextAttribute}">42</td>
			</tr>
			<tr>
				<td>attributes数量：</td>
				<!-- 返回attributes的数量 -->
				<td th:text="${application.size()}">42</td>
			</tr>
			<tr th:each="attr : ${application.keySet()}">
				<td th:text="${attr}">javax.servlet.context.tempdir</td>
				<td th:text="${application.get(attr)}">/tmp</td>
			</tr>
		</table>
	</div>
</body>
</html>
