<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>客户详情</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row" style="margin-bottom: 12px;">
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
				<div class="input-group input-group-sm">
					<input class="form-control" type="search" id="search_text"
						name="search_text" placeholder="搜索内容" autofocus="autofocus" /> <span
						class="input-group-btn">
						<button type="button" class="btn btn-default" id="search_button">搜索</button>
					</span>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="table-responsive col-lg-12 col-md-12 col-sm-12 xol-xs-12">
				<fieldset>
					<legend> 基本信息 </legend>
					<ul class="data-list">
						<li><label>客户代码</label> <span
							th:text="${customer.accountNumber}"></span></li>
						<li><label>国家代码</label> <span th:text="${customer.country}"></span>
						</li>
						<li><label>客户名称</label> <span
							th:text="${customer.customerName}"></span></li>
						<li><label>创建时间</label> <span
							th:text="${#dates.format(customer.createdTime, 'yyyy-MM-dd')}"></span></li>
						<li><label>更新时间</label> <span
							th:text="${#dates.format(customer.updateTime, 'yyyy-MM-dd')}"></span></li>

					</ul>
				</fieldset>
			</div>
		</div>
		<div class="row">
			<div class="table-responsive col-lg-12 col-md-12 col-sm-12 xol-xs-12">
				<fieldset>
					<legend> Bill To </legend>
					<div class="table-responsive">
						<table class='table table-striped table-hover table-condensed'>
							<thead>
								<tr>
									<th>地址编号</th>
									<th>业务工厂</th>
									<th>详细地址</th>
									<th>创建时间</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="site : ${customer.billTo}" th:object="${site}">
									<td th:text="*{siteId}"></td>
									<td th:text="*{operationUnitId} + ' - ' + *{operationUnitName}"></td>
									<td th:text="*{address}"></td>
									<td th:text="*{#dates.format(createdTime, 'yyyy-MM-dd')}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</fieldset>
			</div>
		</div>
		<div class="row">
			<div class="table-responsive col-lg-12 col-md-12 col-sm-12 xol-xs-12">
				<fieldset>
                    <legend> Ship To </legend>
                    <div class="table-responsive">
                        <table class='table table-striped table-hover table-condensed'>
                            <thead>
                                <tr>
                                    <th>地址编号</th>
                                    <th>业务工厂</th>
                                    <th>详细地址</th>
                                    <th>创建时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="site : ${customer.shipTo}" th:object="${site}">
                                    <td th:text="*{siteId}"></td>
                                    <td th:text="*{operationUnitId} + ' - ' + *{operationUnitName}"></td>
                                    <td th:text="*{address}"></td>
                                    <td th:text="*{#dates.format(createdTime, 'yyyy-MM-dd')}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
			</div>
		</div>
        <div class="row">
            <div class="table-responsive col-lg-12 col-md-12 col-sm-12 xol-xs-12">
                <fieldset>
                    <legend> Deliver To </legend>
                    <div class="table-responsive">
                        <table class='table table-striped table-hover table-condensed'>
                            <thead>
                                <tr>
                                    <th>地址编号</th>
                                    <th>业务工厂</th>
                                    <th>详细地址</th>
                                    <th>创建时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="site : ${customer.deliverTo}" th:object="${site}">
                                    <td th:text="*{siteId}"></td>
                                    <td th:text="*{operationUnitId} + ' - ' + *{operationUnitName}"></td>
                                    <td th:text="*{address}"></td>
                                    <td th:text="*{#dates.format(createdTime, 'yyyy-MM-dd')}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>
	</div>
</body>
</html>
